@import '~bootstrap/scss/bootstrap';

@media (min-width: 300px) {
  .container {
    height: 140px;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .container {
    height: 170px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container {
    height: 227px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .container {
    height: 330px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 358px;
    margin: auto;
  }
}

$border-color: #000;
$background-color: #404dff;

footer {
 padding-bottom: 5%;
}

.message {
  > div {
    display: flex;
    height: 2em;

    > img {
      box-sizing: content-box;
      display: block;
      min-height: 100%;
      padding-left: 10px;
      padding-top: 7px;
    }
 }
}

.row {
  height: 100%;
}

.col-4 {
  background-color: $background-color;
  border: 3px solid $border-color;
  height: 100%;
  padding: 0;
}

nav {
  margin-bottom: 5%;
}
