@import '~bootstrap/scss/bootstrap';

@media (min-width: 300px) {
  .container {
    height: 140px;
    margin: auto;
  }

  main {
    height: 2rem;

    > p {
      font-size: 1.45rem;
    }
  }

  h2 {
    font-size: 1.45rem;

    > img {
      height: 1.45rem;
      left: 20px;
      padding-top: 3px;
    }
  }

  nav {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .container {
    height: 170px;
    margin: auto;
  }

  main {
    height: 2rem;

    > p {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 2rem;

    > img {
      height: 2rem;
      left: 20px;
      padding-top: 3px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    height: 227px;
    margin: auto;
  }

  main {
    height: 3rem;

    > p {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 3rem;
    height: 3rem;

    > img {
      height: 3rem;
      left: 20px;
      padding-top: 6px;
      top: 16px;
    }
  }
}

@media (min-width: 992px) {
  .container {
    height: 330px;
    margin: auto;
  }

  main {
    height: 4rem;

    > p {
      font-size: 4rem;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    height: 358px;
    margin: auto;
  }

  main {
    height: 5rem;

    > p {
      font-size: 5rem;
    }
  }
}
$border-color: #000;
$game-background-color: #2b6684;
$background-color: #012e67;
$text-color: #9cacbf;
$form-text-color: #000;
$main-text: 'Share Tech Mono';

* {
  color: $text-color;
  font-family: $main-text, sans-serif;
}

input,
button {
  color: $form-text-color;
}

html,
body {
  background-color: $background-color;
}

footer {
  padding-bottom: 5%;
}

main {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;

  > p {
    height: 100%;
    text-align: center;
  }
}

.message {

  > div {
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-right: .5%;
    margin-top: .5%;
    vertical-align: middle;
  }

  > img {
    max-width: 100%;
  }
}

.row {
  height: 100%;
}

.col-4 {
  background-color: $game-background-color;
  border: 3px solid $border-color;
  height: 100%;
  padding: 0;
}

.col-12 {
  font-size: 1.2rem;
  height: 4rem;
}

h2 {
  display: flex;
  justify-content: center;
  margin-right: .5%;
  margin-top: .5%;


  > img {
    box-sizing: content-box;
    display: inline-block;
    left: 5px;
    position: relative;
    top: 3px;
  }
}

nav {
  padding-bottom: 2%;
}
